body
{
    background-image: url("/img/background-1.png");
    background-size: cover;
    
    
}
.top{
    
}
.title{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: rgb(192, 30, 30);
    font-family: 'Indie Flower', cursive;
    display: inline-block;
}
.btn-dang-nhap{
    position: relative;
    float: right;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    
    
}
.btn-dang-nhap a
{
    display: block;
    text-decoration: none;
    padding: 15px;
    letter-spacing: 1px;
    font-weight: 300;
}
.btn-dang-nhap .chung
{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.btn-dang-nhap .chung a
{
   font-size: 20px;
}
.btn-dang-nhap .dang-nhap a
{
    background-color: white;
    color: yellowgreen;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 20px;
}
.box-dang-nhap
{
    position:relative;
    left: 33.33%;
    top: 100px;
    width: 33.33%;
    border:5px solid black;
    padding: 20px 40px;
    text-align: center;
    font-size: 25px;
}
.box-dang-nhap {

}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background: none;
    border:none;
    border-bottom: 2px solid gray;
    font-size: 25px;
    color: black;
    padding-left: 0;
  }
::placeholder{
    color: black;
}
.check-box{
    text-align: left;
    font-size: 20px;
}
input[type=checkbox]{
    width: 20px;
    height: 20px;
    line-height: 25px;
    margin-right: 10px;
    
}
button[type=submit]{
    
    font-size: 25px;
    background: none;
    padding: 20 40px;
    margin: 20px 0;
}
.title-dang-nhap{
    font-weight: 500;
    font-size: 40px;
}
.chua-co-tk{
    font-size: 15px;
}