*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
header {
    font-family: Lato;
    font-size: 20px;
    line-height: 25px;
    background-image: linear-gradient(rgba(229, 252, 137, 0.5) 55%, rgba(169, 243, 106, 0.65)), url("../Assets/img/background.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.nav-menu{
    margin: 0px;
}
.logo {
    font-family: 'Indie Flower';
    margin-top: 10px;
    padding: 20px;
    font-size: 50px;
    width: 60%;
    float: left;
    display: inline;
}
.logo a{
    color: red;
}
.nav-btn {
    margin-top: 10px;
    padding: 20px;
    float: right;
    width: 40%;
    display: inline;
    text-align: right;
}
.home-page, .contact, .login{
    display: inline;
    padding: 10px;
    margin-right: 30px;  
}
.login {
    border-radius: 20px;
    background-color: white;
}
.login a{
    color: green;
}
.main-content{
    margin: 0 auto;
    padding: 20px;
}
.preview-content{
    text-align: center;
}
.preview-content p{
    color: blue;
    font-size: 20px;
}
.video-demo{
    text-align: center;
}
.about-us{
    text-align: center;
    font-family: 'Indie Flower';
    margin-bottom: 0;
}



