/* ---------------------Default setup-----------------------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

body{
    overflow-x: hidden;
}

/* ---------------------Reuseable component-----------------------*/
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.btn{
    text-decoration: none;
    color: #cfe765;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
/*------------------------Header----------------------------*/
header{
    background-image: linear-gradient(rgba(229, 252, 137, 0.5) 55%, rgba(169, 243, 106, 0.65)), url("/img/background-1.png");
    /* filter: opacity(80%); */
    background-size: cover;
    background-position: center;
    background-attachment:inherit;
    height: 100vh;
}

a{
    text-decoration: none;
}

.logo{
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    margin-left: 10px;
    list-style: none;
    display: inline;
}

.logo a{
    color: #ff0000;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 20px;
}

.main-nav li{
    display: inline;
    margin-right: 30px;
}

.introbtn{
    color: #2b05ff;
}

/*------------------------Login----------------------------*/
.box-login{
    /* background-color: rgba(184, 184, 184, 0.6); */
    background-color: whitesmoke;
    position: fixed;
    width: 430px;
    margin-top: 15%;
    margin-left: 35%;
    /* border: 3px solid black; */
    padding: 20px 40px;
    text-align: center;
    font-size: 120%px;
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;
}

.title-login{
    font-size: 40px;
    color: black;
}

input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background: none;
    border:none;
    border-bottom: 2px solid gray;
    font-size: 100%;
    color: black;
    padding-left: 0;
}

::placeholder{
    color: black;
    font-size: 80%;
}

input, textarea{
    outline: none;
}

.check-box{
    text-align: left;
    font-size: 20px;
    margin-left: 34px;
    margin-top: 8px;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
    line-height: 25px;
    margin-right: 10px;
}

button{
    padding: 2px 15px;
    border-radius: 10px;
}

button[type=submit]{
    font-size: 100%;
    background: none;
    background-color: #4796ff;
    margin: 20px 0;
    color: aliceblue;
}

.no-account{
    font-size: 15px;
}

.no-account a{
    color: #0059ff;
}