/* ---------------------Default setup-----------------------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

body{
    overflow-x: hidden;
}

/* ---------------------Reuseable component-----------------------*/
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.btn{
    text-decoration: none;
    color: #cfe765;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
/*------------------------Header----------------------------*/
header{
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(252, 252, 252, 0.2)), url("/img/background-2-1.jpg");
    /* filter: opacity(80%); */
    background-size:cover;
    background-position: center;
    background-attachment:inherit;
    height: 100vh;
    width: 100%;
}

a{
    text-decoration: none;
}

.logo{
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    margin-left: 10px;
    list-style: none;
    display: inline;
}

.logo a{
    color: #FCE300;
}

.main-nav{
    display: flex;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    align-items: center;
}

.main-nav--1{
    display: flex;
}

.main-nav--1-home, .main-nav--1-about{
    display: inline-block;
    margin-right: 30px;
}

.main-nav li{
    display: inline;
}

.main-nav li:not(:last-child){
    
}

.introbtn{
    color: #FAFF00;
}

.avt{
    font-size: 40px;
    color:#FAFF00;
    cursor: pointer;
}

/*---------------------------Footer-------------------------------*/
footer{
    text-align: center;
    background-color: #777777;
    color: white;
    padding: 8px;
}